body{
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    /* min-width: 400px; */
    /* min-height: 500px; */
}
.main-content{
    display: flex;
}
.verti-slider{
    /* min-width: 15%; */
    width: 15%;
    display: inline;
    margin: 2%;
    color: black;
    font-weight: bold;
    text-align: center;
}

.verti-sli-sel.active{
    border: 5px white solid;
}

.verti-sli-sel{
    height: 112.5px;
}
.verti-next{
    margin-top: 2%;
}

.hori-slider{
    width: 85%;
    display: inline;
    margin: 2%;
}

.payment-success{
    color: green;
}
.payment-failure{
    color:tomato
}
#slider-outer{
    overflow: hidden;
    /* overflow-y: scroll; */
    max-height: 700px;
}
.slide-selector{

    min-height: 700px;
    /* height: auto; */
    width: auto;
    color: black;
    font-size: 60px;
    text-align: center;
    /* margin: 50px; */
}

.nav-btn{
    /* text-align: center; */
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
}
.nav-sub-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: darkgray;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.nav-sub-btn:hover{
    background-color: white;
}
.dots-element-btn{
    border-radius: 50%;
    padding: 5px;
    background-color: darkgray;
}
.dots-element-btn:hover{
    background-color: white;
}
.dots-element-btn.current{
    background-color: white;
}









